* {
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
}

.div1,
.div2 {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar {
    margin: 20px auto;
}

 img {
    width: 10%;
}

.flex_sb {
    display: flex;
    justify-content: space-between;
}
 #totalcart>div>.flex_sb:last-child{
  align-items: center;
}
.order_1{
    order: 1;
}
.order-1>.flex_sb{
    align-items: top !important;
}
.justify_aligh{
text-align: justify;
}

img+span {
    margin-left: 2rem;
}

#navbar p {
    margin: auto 50px;
}

#address {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#right {
    width: 80%;
    border: 1px solid;
    text-align: center;
    margin-bottom: 1rem;

}

#content {
    width: 80%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.qtychange {
    border: 1px solid black;
    font-size: 20px;
    padding: 5px 10px;
}

.qtychange>button {
    border: none;
    padding: 4px;
    font-size: 20px;
    background-color: white;
    color: lightgreen;
}

.qtychange>span {
    margin: auto 4px;
}

.foodname{
    margin: 0;
    width: fit-content;
    text-align: start;
}
.foodname+img{
    width: 25%;
}
.qtychange+p{
    margin:0;
}
b{
    color: red;
}

#totalcart>div {
margin-bottom: 1.5rem;
}

#addbox {
    order: 1;
}

#left {
    margin-right: 20px;
}

#left::before {
    content: '';
    position: absolute;
    border-right: 1px dotted #111;
    height: 67%;
    top: 50px;
    left: -20px;
}

.contact__side__box {
    background-color: #111;
    color: #fff;
    position: absolute;
    height: 40px;
    text-align: center;
    width: 40px;
    left: -40px;
    top: 18px;
    box-shadow: 0 3px 5px 0 rgb(40 44 63 / 40%);
}

.delivery {
    top: 120px;
}

.payment {
    top: 0px;
}


.bg__white {
    position: relative;
    background: #fff;
    margin-bottom: 1rem;

}

.main__padding {
    padding: 1.8rem;
}

.address__card,
#address>div {
    border: 1px solid #cccccc96;
    padding: 1rem;
    transition: 0.6s ease;
    cursor: pointer;
}

#address>div:hover {
    box-shadow: 0 2px 8px #d4d5d9;

}

#addbox>p {
    font-size: 13px;
    color: #93959f;
    margin-bottom: 8px;
    font-weight: 300;

}

#address button {
    background: #46c546;
    padding: 4px 1rem;
    border: 0;
    color: #fff;
    font-size: 0.8rem;
}

#address > div{
    display: flex;
}

#addbox p, h6 {
    margin-left: 1rem;
}
#totalcart{
    display: flex;
    flex-direction: column;
    /* padding: 0 1rem; */
}
.non_contact{
    align-items: start !important ;
    border: 1px solid;
    padding: 1rem;
}
.order-1>div{
    margin: 2rem auto;
}
.overFlow_div{
    max-height: calc(100vh - 270px);
    overflow-y: scroll;
}
.coupon{
    border: 1px dotted black;
    padding: 2rem;
}
.coupon>input{
    border: none;
    height: 2rem;

}
.flex_sb>p{
    margin-bottom: 0;
}
#lastdiv{
    border-top: 3px solid black;
    padding: 0 1.5rem ;
    padding-top: 1.5rem;
}