*{
    margin: 0;
    padding: 0;

}
#navbar{
    display: flex;
    height: 80px;
}
#leftside{
    display: flex;
    height: 100%;
    width: 40%;
    justify-content:center;
}
.Restaurent>p{
    font-size: xx-large;
    font-weight: 900;
    margin-left: 130px;
    margin-top: 60px;
    margin-bottom: 30px;
}
#rightside{
    display: flex;
    width: 60%;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    
}
#leftside>a>img{
    width: 100%;
    height: 70%;
    margin-top: 10px;
}
#leftside>h4{
    margin-top: 25px;
    margin-left: 20px;
}
#rightside>a{
    font-size: large;
    color: rgb(56, 52, 52);
    text-decoration: none;
}
#blue_div{
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(9, 82, 108, 0.993)

}
#blue_div>img{
    height: 70%;
}
#blue_div>div>p:first-child{
    font-size: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-family: "Gill Sans", sans-serif;
}
#blue_div>div>p:last-child{
    font-size: 20px;
    color: rgba(233, 248, 249, 0.737);
    font-family: "Gill Sans", sans-serif;
}
#blue_div>div{
    display: grid;
    align-content: center;
}
#tabs{
    display: flex;
    margin-left: 100px;
}
#tabs button:first-child{
    font-weight: 300;
    color: rgb(147, 147, 147);
}
#tabs button:first-child:hover{
    font-weight: 300;
    color: rgb(81, 81, 81);
}
#tabs button{
    background-color: white;
    border: none;
    margin: 30px;
    font-size: larger;
    font-weight: bold;
    font-family: "Gill Sans", sans-serif;
    color: rgb(35, 34, 34);
}
#tabs button:hover{
transform: scale(1.1,1.1);
}
.main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 130px;
    
}
.main>div{
    display: grid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
    gap: 20px;
}
.main>div>button{
    width: 30%;
    height: 30px;
    color: orange;
    background-color: white;
    border: 2px of orange;
    font-size:small;
    font-weight: bold;
}
.main>div>button:hover{
    transform: scale(1.1,1.1)
}
#head{
    font-size: large;
    font-weight: bold;
}
#note{
    color: rgb(128, 127, 127);
}
#more{
    color: blue;
}
.main>div>div{
    display: flex;
    padding: 10px;
    width: 40%;
    justify-content: space-between;
    background-color: rgba(235, 227, 195, 0.989);
}
.main>div>div>img{
    width: 20%;
    height: 20px;
}
#bottom{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 130px;
    margin-right: 100px;
}
#bottom>div{
    margin-top: 80px;
}
#company,#contact,#legal{
margin-top: 30px;
}
#company{
    display: grid;
    flex-wrap: wrap;
    row-gap: 20px;
}
#contact{
    display: grid;
    flex-wrap: wrap;
    row-gap: 20px;
}
#legal{
    display: grid;
    flex-wrap: wrap;
    row-gap: 20px;
}
#bottom>div>p{
    color: rgba(255, 255, 255, 0.539);
    font-size: larger;
    font-weight: bolder;
}
#company>p{
    color: white;
    font-size: larger;
    font-weight: bolder;
}
#contact>p{
    color: white;
    font-size: larger;
    font-weight: bolder;
}
#legal>p{
    color: white;
    font-size: larger;
    font-weight: bolder;
}
#background{
    background-color: rgb(0, 0, 0);
}
#bottom>div:last-child{
    display: grid;
    gap: 10px;
}
#bottom>div>button>img{
width: 100%;
height: 100%;
}
#bottom>div>button{
    width: 50%;
    height: 50%;
    border: none;
    padding: none;
    background-color: black;
}
#bottom>div>button:hover{
    transform: scale(1.2,1.2);
}
