*{
    text-decoration: none;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}
#navbar{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#box{
    display: flex;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
  }
  .button{
    padding: 0px 30px;
  }
#logo>a>img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
#logo{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}
a{
    color: black;
}
a:hover{
    color: #fc8019;
}
#item{
    width: 100%;
    height: 300px;
    background-color: #282c3f;
    color: #282c3f;
    margin-top: 50px;
}
#item img{
    width: 300px;
    height: 300px;
    margin-left: 10%;
}
#item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: white;
    gap: 30px;
}
#div2{
    display:flex;
    gap: 10px;
    height: 30px;
}
#offers{
    border: 1px solid white;
    width: 300px;
    height: 200px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}
#offers h1{
position: absolute;
margin: 0%;
margin-top: -20px;
background-color: #282c3f;
}
#offers p{
    margin-top:40px;
}
.recommendeds{
    text-align: right;
    padding-right: 20px;
}
.recommendeds:hover{
    color: #fc8019;
    cursor: pointer;
}
 #bottum{
    display: grid;
    grid-template-columns: repeat(3,1fr);
 }
 #products{
    border-left: 2px solid black;
    border-right: 2px solid black;

    overflow:scroll;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    
   
 }
 #div3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    
 }
#div3 img{
    width: 200px;
    height: 200px;
    align-items: flex-end;
    cursor: pointer;
}
#cart{
   margin-top: 25px;
}
#cart:hover{
    color: white;
    background-color: #fc8019;
    border-radius: 10px;
}
.button:last-child{
    display: flex;
    align-items: center;
}
.button:last-child>p{
    background-color: green;
    
    border: #fc8019;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: larger;
    font-style:initial;
    color: white;
}
#cartimg{
    width: 100%;
}
#cartsitems div>p{
   margin: 0%;
   display: flex;
}
.prices{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: scroll;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
#total{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#cartlist{
    height: 5px;
    overflow:scroll;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#button{
    width: 100%;
    height: 50px;
    background-color: green;
    color: white;
    font-size: larger;
    border-radius: 10px;
    cursor: pointer;
}
#button:hover{
    background-color:#fc8019;
}